@font-face {
	font-family: Ubuntu;
	src: url(Ubuntu.ttf);
}
body,html {
	width: 100%;
	height: 100%;
}
body {
	zoom: 1;
	font-family: Ubuntu, Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	min-width: 320px;
	/*background-color: rgb(255,255,255);*/
	background-color: rgb(251,215,215);
	background-size: 100% auto;
	text-align: center;
}
div {
	display: block;
}
/*#content {
	padding-top: 20px;
}*/
#header {
	padding-bottom: 1em;
/*	margin-bottom: 1.5rem;*/
}
/*#header>a,#header>p {
	padding-left: 1em;
	padding-right: 0;
	display: initial;
}*/
li.headerlink {
	display: inline-block;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
a {
	color: rgba(188,119,0,1);
	text-decoration: none;
}
a:hover {
	color: rgba(222,141,0,1);
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6,p {
	margin-bottom: 10px;
}
p {
	padding-left: 1%;
	padding-right: 1%;
	font-size: 1em;
}
h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.0em;
}
::selection {
	color: #ff93fb;
	background-color: #000;
}
/*h1.headertext {
	text-align: center;
}*/